@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    @apply max-w-7xl mx-auto px-3 md:px-5 lg:px-8;
  }

  .clip-full-w {
    clip-path: inset(0px -100vmax);
  }

  .shadow-smooth-lg {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .shadow-smooth-xl {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .shadow-smooth-2xl {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}
