---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {
  dark?: boolean;
}

const { class: className, dark = false, ...attrs } = Astro.props;
---

<span {...attrs} class={`${className} ${dark ? "text-stone-400" : "text-slate-400"} text-sm font-bold`}>
  <slot />
</span>
