---
import { images } from "@/utils/imgData";

import Layout from "@/layouts/Layout.astro";
import Gradient from "@/components/Gradient.astro";
import H1 from "@/components/heading/H1.astro";
import H2 from "@/components/heading/H2.astro";
import Button from "@/components/Button.astro";
import Tag from "@/components/heading/Tag.astro";
import Image from "@/components/Image.astro";
import Testimonial from "@/components/Testimonial.astro";
import LinkWithUnderline from "@/components/LinkWithUnderline.astro";
import Card from "@/components/Card.astro";
import CarouselWrapper from "@/components/carousel/CarouselWrapper.astro";
import CarouselItem from "@/components/carousel/CarouselItem.astro";
import LandscapeBanner from "@/components/LandscapeBanner.astro";

import "@/styles/global.css";
---

<Layout title="Home">
  <Gradient />

  <section class="lg:grid grid-cols-2">
    <div class="flex flex-col gap-8 lg:gap-4 lg:w-3/4 text-center md:text-start">
      <Tag>DESIGN INSPIRATION</Tag>

      <header>
        <H1>Convallis turpis erat tempus, viverra aliquet.</H1>
      </header>

      <div class="mt-6">
        <Button capitalize size={"large"}>Get in touch</Button>
      </div>

      <div class="lg:mt-auto mt-8 max-w-sm text-start">
        <Testimonial
          user={{
            userImg: images.users.andry.src,
            name: "andry ford",
            title: "CEO at Whatever",
          }}
          message="I feel so much less stressed ❤️ as I now know by the book.”"
        />
      </div>
    </div>

    <Image
      {...images.products.watch}
      class="block mt-4 lg:mt-0 w-auto mx-auto max-h-[30rem] lg:max-h-none"
    />
  </section>

  <section class="lg:grid grid-cols-3 grid-rows-6 mt-32 gap-x-6 lg:space-y-0">
    <div class="col-span-1 row-start-2 row-end-5 hidden lg:block">
      <Image {...images.portraitModels.gray} />
    </div>

    <header class="col-start-2 col-span-2 row-start-1 lg:ml-28 leading-loose">
      <H2>Requirements gathering and analysis for references.</H2>
    </header>

    <p class="col-start-2 col-span-2 row-start-2 text-lg lg:ml-28 mt-6 mb-10 lg:my-0">
      Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada
      a, duis volutpat. Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit
      ipsum malesuada a, duis volutpat.
    </p>

    <div class="row-start-4 col-span-2 row-span-3">
      <Image {...images.landscapeModels.green} />
    </div>
  </section>

  <section class="md:grid grid-cols-2 gap-8 mt-40 space-y-8 md:space-y-0">
    <div class="self-center space-y-8">
      <header>
        <H2>Requirements gathering and analysis for references.</H2>
      </header>
      <p class="text-lg">
        Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada
        duis volutpat.
      </p>

      <div>
        <LinkWithUnderline class="text-blue-500 font-bold" href="/">
          Experianced team
        </LinkWithUnderline>
      </div>
    </div>

    <Image class="self-center -order-1" {...images.products.tab} />
  </section>

  <section class="md:grid grid-cols-2 gap-8 mt-40 space-y-8 md:space-y-0">
    <div class="self-center space-y-8">
      <header>
        <H2>The best design for your studio website</H2>
      </header>
      <p class="text-lg">
        Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada
        duis volutpat.
      </p>

      <div>
        <LinkWithUnderline class="text-blue-500 font-bold" href="/">
          Experianced team
        </LinkWithUnderline>
      </div>
    </div>

    <Image class="self-center" {...images.products.watch} />
  </section>

  <section class="mt-40">
    <div class="text-center">
      <Tag>DESIGN CONCEPT</Tag>

      <header class="mt-4">
        <H2>
          The best design for your
          <br /> studio website
        </H2>
      </header>
    </div>

    <CarouselWrapper>
      {
        Array(10)
          .fill(0)
          .map((_, index) => (
            <CarouselItem>
              <Card
                title={`Name ${index + 1}`}
                description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem maiores rerum eum magnam dolorem consequuntur sequi dolore obcaecati molestias enim tempore nemo aut et, accusamus perspiciatis dolores ullam delectus pariatur."
              />
            </CarouselItem>
          ))
      }
    </CarouselWrapper>
  </section>

  <section class="mt-40">
    <LandscapeBanner
      heading="All-in-one platform for business"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium provident ipsa non quam corporis suscipit beatae quod delectus repudiandae officia alias consectetur corrupti voluptas quaerat, aliquam possimus nisi minima laborum."
    />
  </section>
</Layout>
