---
export type Pops = {
  height?: string;
};

const { height = "h-36" } = Astro.props;
---

<div class={`${height} -z-10 bg-gradient-to-b from-amber-100 absolute top-0 left-0 right-0`}></div>
<div class={height}></div>
